@charset "UTF-8";

ul, li, body {
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
	color: inherit;
	text-decoration: none;
}
ul > li{
	width : 100%;
	height : 100%;
	display : flex;
	justify-content: center;
	align-items: center;
	text-align: center; 
}
ul > li > a{
	display : block;
	width : 100%;
	padding : 20px 0;
}
.img-box{
	display : block;
}
.img-box img{
	display : block;
	width : 100%;
}
.flex{
	display : flex;
}
.flex-jc-c{
	justify-content: center;
}
.flex-jc-end{
	justify-content: flex-end;
}
.flex-jc-start{
	justify-content: flex-start;
}
.flex-jc-ar{
	justify-content: space-around;
}
.flex-jc-bet{
	justify-content: space-between;
}
.flex-ai-c{
	align-items: center;
}
.flex-ai-end{
	align-items: flex-end;
}
.flex-ai-start{
	align-items: flex-start;
}
.flex-column{
	flex-direction: column;
}
.flex-row{
	flex-direction: row;
}
.bd_red{
	border:2px solid red;
}
.bd_6f6f6f{
	border:1px solid #6f6f6f;
}
.bd_afafaf{
	border:1px solid #afafaf;
}
.bg_4f4f4f{
	background-color : #4f4f4f;
}
.block{
	display : block;
}
.width-30p{
	width : 30%;
}
.width-40p{
	width : 40%;
}
.height-100p{
	height : 100%;
}
.width-100p{
	width : 100%;
}
.block{
	display: block;
}
.inline-block{
	display : inline-block;
}
#txt_can,#txt_you, #txt_etc{
	display: inline-block;
}
.t_center{
	text-align : center;
}
.h3_big{
	font-size : 22px;
}
.border_1_box{
	border : 1px solid;
}
.box_black{
	border-color : black;
}
.box_lightGrey{
	border-color : #afafaf;
}
.box_rad_20{
	border-radius: 20%;
}
main{
	min-height : 80vh;
}

.main_container{
	
}
.main_container2{
	width : 100%;
}
.page_title_l{
	text-align: left;
	margin-left : 20%;
}
.page_title_c{
	text-align: center;
	margin-top : 60px;
}
.page_title_r{
	text-align: right;
}
.width50{
	width : 50px;
}
.width60{
	width : 60px;
}
.width70{
	width : 70px;
}
.width80{
	width : 80px;
}
.width90{
	width : 90px;
}
.width100{
	width : 100px;
}
.width110{
	width : 110px;
}
.width120{
	width : 120px;
}
.width130{
	width : 130px;
}
.width140{
	width : 140px;
}
.width150{
	width : 150px;
}
.width160{
	width : 160px;
}
.width170{
	width : 170px;
}
.width180{
	width : 180px;
}
.width190{
	width : 190px;
}
.width200{
	width : 200px;
}
.width250{
	width : 250px;
}
.width300{
	width : 300px;
}
.height50{
	height : 50px;
}
.height60{
	height : 60px;
}
.height70{
	height : 70px;
}
.height80{
	height : 80px;
}
.height90{
	height : 90px;
}
.height100{
	height : 100px;
}
.height110{
	height : 110px;
}
.height120{
	height : 120px;
}
.height130{
	height : 130px;
}
.height140{
	height : 140px;
}
.height150{
	height : 150px;
}
.height160{
	height : 160px;
}
.height170{
	height : 170px;
}
.height180{
	height : 180px;
}
.height190{
	height : 190px;
}
.height200{
	height : 200px;
}
.paddingW20{
	padding-left : 20px;
	padding-right : 20px;
}
.paddingW30{
	padding-left : 30px;
	padding-right : 30px;
}
.paddingW40{
	padding-left : 40px;
	padding-right : 40px;
}
.paddingW50{
	padding-left : 50px;
	padding-right : 50px;
}
.paddingW60{
	padding-left : 60px;
	padding-right : 60px; 
}
.paddingW70{
	padding-left : 70px;
	padding-right : 70px;
}
.paddingW80{
	padding-left : 80px;
	padding-right : 80px;
}
.paddingW90{
	padding-left : 90px;
	padding-right : 90px;
}
.paddingW100{
	padding-left : 100px;
	padding-right : 100px;
}
.paddingW150{
	padding-left : 150px;
	padding-right : 150px;
}
.paddingW200{
	padding-left : 200px;
	padding-right : 200px;
}
.paddingW250{
	padding-left : 250px;
	padding-right : 250px;
}
.paddingW300{
	padding-left : 300px;
	padding-right : 300px;
}
.paddingW350{
	padding-left : 350px;
	padding-right : 350px;
}
.paddingW400{
	padding-left : 400px;
	padding-right : 400px;
}
.paddingW450{
	padding-left : 450px;
	padding-right : 450px;
}
.paddingH20{
	padding-top : 20px;
	padding-bottom : 20px; 
}
.paddingH30{
	padding-top : 30px;
	padding-bottom : 30px;
}
.paddingH40{
	padding-top : 40px;
	padding-bottom : 40px;
}
.paddingH50{
	padding-top : 50px;
	padding-bottom : 50px;
}
.paddingH60{
	padding-top : 60px;
	padding-bottom : 60px;
}
.paddingH70{
	padding-top : 70px;
	padding-bottom : 70px;
}
.paddingH80{
	padding-top : 80px;
	padding-bottom : 80px;
}
.paddingH90{
	padding-top : 90px;
	padding-bottom : 90px;
}
.paddingH100{
	padding-top : 100px;
	padding-bottom : 100px;
}
.paddingH150{
	padding-top : 150px;
	padding-bottom : 150px;
}
.paddingH200{
	padding-top : 200px;
	padding-bottom : 200px;
}
.paddingH250{
	padding-top : 250px;
	padding-bottom : 250px;
}
.paddingH300{
	padding-top : 300px;
	padding-bottom : 300px;
}
.paddingH350{
	padding-top : 350px;
	padding-bottom : 350px;
}
.paddingH400{
	padding-top : 400px;
	padding-bottom : 400px;
}
.paddingH450{
	padding-top : 450px;
	padding-bottom : 450px;
}
.mt10{
	margin-top : 10px;
}
.mt20{
	margin-top : 20px;
}
.mt30{
	margin-top : 30px;
}
.mt40{
	margin-top : 40px;
}
.mt50{
	margin-top : 50px;
}
.mt100{
	margin-top : 100px;
}
.mb10{
	margin-bottom : 10px;
}
.mb20{
	margin-bottom : 20px;
}
.mb30{
	margin-bottom : 30px;
}
.mb40{
	margin-bottom : 40px;
}
.mb50{
	margin-bottom : 50px;
}
.mb100{
	margin-bottom : 100px;
}
.bg_black{
	background-color : black;
}
.bg_gray {
	background-color : gray;
}
.bg_yellow{
	background-color : yellow;
}
.bg_white{
	background-color : white;
}
.color-red{
	color : red;
}
.color_black{
	color : black;
}
.color_white{
	color : white;
}
.t_align_center{
	text-align: center;
}
.t_align_left{
	text-align: left;
}
.t_align_right{
	text-align: right;
}
.fBox_1 > div{
	width : 100%;
}
.fBox_2 > div{
	width : calc( 100% / 2);
}
.fBox_3 > div{
	width : calc( 100% / 3);
}
.fBox_4 > div{
	width : calc( 100% / 4);
}