@charset "UTF-8";

/* 헤더 시작 */
body{
	height : 200vh;
}
header{
	background-color : #FDF8FF;
	height : 60px;
}
.header_container{
	max-width : 1280px;
	margin : 0 auto;
}
.header_min_container{
	min-width : 300px;
}
.header {
	width : 100%;
}
.header > .header_logo_title{
	width : 25%;
}
.header > .header_menu{
	width : 55%;
	margin-left : 5%;
}
.header_logo_title{
	width : 200px;
}
.header_logo_title .logo{
	color : #C6B6D5;	
}
.header > .header_menu > ul{
	width : 100%;
}
.header > .header_sns {
	width : 15%;
	margin-left : 10%;
}
.header > .header_sns > ul{
	width : 100%;
}
/* 헤더 끝 */